.main-registration-container {
    display: flex;
    margin: 100px auto;
}

.registration-form-container {
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/background_registratie.jpg');
    background-position: top;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    width: 600px;
    height: 450px;
    box-shadow: 5px 6px 15px 5px rgba(0,0,0,0.5);
    color: white;
}


.firstname-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

input {
    height: 20px;
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.register-already-registered:hover p {
    text-decoration-line: underline;
}

.errormessage-register {
    position: relative;
    bottom: 18px;
}

.register-already-registered {
    position: relative;
    font-size: 10px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
}

.errormessage-pattern, .errormessage-minlength, .errormessage-register {
    position: relative;
    bottom: 18px;
    color: red;
    background: white;
}

.registration-form-container label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 170px;
    position: relative;
}

.register-already-registered button {
    position: relative;
    top: 20px;
}

.checkbox-newsletter {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    bottom: 15px;
}
.newsletter-signup {
    bottom: 38px;
    display: flex;
    position: relative;
    left: 25px;
}