.footer-container {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.location-info {
    max-width: 1200px;
    display: flex;
    position: absolute;
    left: 300px;
}

.location-info ul li {
    color: white;
    list-style: none;
}

.popular_locations {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 300px;
    margin-bottom: 15px;
}

.popular_locations ul li {
    color: white;
    list-style: none;
}

.copyright-footer {
    color: white;
}

.popular_locations ul .location-link span:hover {
    text-decoration: underline;
    color: white;
}

.popular_locations ul .location-link span{
    font-size: 15px;
}

.location-link a {
    color: white;
    text-decoration: none;
}

.location-link:visited a {
    color: white;
    text-decoration: none;
}